.App {
  text-align: center;
}
body{
  background-color: #008585;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15%;
}
.container{
  padding: 10px;
  border: 2px solid #fbf2c4;
  width: 500px;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  color: #fbf2c4;
}
.head{
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 20px;
}
input{
  padding: 10px;
  border: 1px solid #fbf2c4;
  border-radius: 10px;
  color: #008585;
  font-weight: 700;
}
input:hover{
  background-color: #ffffea;
}
input:focus{
  background-color: beige;
  border: 0px;
}

/* Media Queries */
@media (max-width: 768px) {
  .container {
    width: 100%; 
  }
}

@media (max-width: 480px) {
  body{
    padding: 4%;
  }
  .container{
    width: 95%;
  }
  .head{
    font-size: 16px;
  }
  .result{
    font-size: 16px;
  }
}